/* ~componentry/styles/atomic/borders */

// --------------------------------------------------------
// Borders

@each $color, $value in $theme-colors {
  .border-#{$color} {
    border-color: $value;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
}

@each $color, $value in $borders {
  .border-#{$color} {
    border-color: $value;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
}

// --------------------------------------------------------
// Borders addition

.border {
  border-width: 1px;
  border-style: solid;
}
.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}
.border-right {
  border-right-style: solid;
  border-right-width: 1px;
}
.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.border-left {
  border-left-style: solid;
  border-left-width: 1px;
}

// --------------------------------------------------------
// Border clear

.border-0 {
  border: 0 !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-right-0 {
  border-right: 0 !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-left-0 {
  border-left: 0 !important;
}

// --------------------------------------------------------
// Border radius

.rounded {
  border-radius: $border-radius !important;
}
.rounded-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}
.rounded-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}
.rounded-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}
.rounded-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}
