/* ~componentry/styles/utility/sizing */

//
// Width and height
//

// Generates 10, 20, 25... auto sizing classes
@each $prop, $abbrev in (width: w, height: h) {
  @each $size, $length in $sizes {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
  }
}

.mw-100 {
  max-width: 100% !important;
}
.min-100vw {
  min-width: 100vw !important;
}
.mh-100 {
  max-height: 100% !important;
}
.min-100vh {
  min-height: 100vh !important;
}
