/* ~componentry/styles/atomic/text */

//
// Text
//

// Sizes

// --- Display

.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}

// The .text-sm and text-lg classes are intended for regular text like p, span,
// etc. and provide a utility for minor text adjustments when applications don't
// want to use small headers and small dom elements to handle these types
.text-sm {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: $font-size-lg;
}

// Alignment

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

// Text truncate

@mixin text-truncate() {
  // ℹ️ Requires inline-block or block for proper styling
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-truncate {
  @include text-truncate;
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-left {
      text-align: left !important;
    }
    .text#{$infix}-right {
      text-align: right !important;
    }
    .text#{$infix}-center {
      text-align: center !important;
    }
  }
}

// Transformation

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

// Weight and italics

.font-weight-lighter {
  font-weight: $font-weight-lighter !important;
}
.font-weight-light {
  font-weight: $font-weight-light !important;
}
.font-weight-normal {
  font-weight: $font-weight-normal !important;
}
.font-weight-bold {
  font-weight: $font-weight-bold !important;
}
.font-weight-bolder {
  font-weight: $font-weight-bolder !important;
}

.font-italic {
  font-style: italic !important;
}

// Decoration

.text-underline {
  text-decoration: underline !important;

  &:hover,
  &:active {
    text-decoration: underline !important;
  }
}

.text-line-through {
  text-decoration: line-through !important;
}

.suppress-text-decoration {
  text-decoration: none !important;

  &:hover,
  &:active {
    text-decoration: none !important;
  }
}

// Contextual colors

.text-white {
  color: $white !important;
}

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    @include hover-focus {
      color: darken($color, 10%) !important;
    }
  }
}

@each $color, $value in $theme-colors {
  @include text-emphasis-variant('.text-#{$color}', $value);
}

@each $color, $value in $grays {
  @include text-emphasis-variant('.text-gray-#{$color}', $value);
}

.text-body {
  color: $body-color !important;
}
.text-muted {
  color: $text-muted !important;
}

.text-black-50 {
  color: rgba($black, 0.5) !important;
}
.text-white-50 {
  color: rgba($white, 0.5) !important;
}

// Misc

.text-monospace {
  font-family: $font-family-monospace;
  font-size: $font-size-monospace;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

//
// Emphasis
//

.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

//
// Lists
//

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: '\2014 \00A0'; // em dash, nbsp
  }
}
