/* interactive-demo */
@import 'theme';

:local(.component) {
  .card {
    border-radius: 0;
    box-shadow: rgba(80, 80, 80, 0.1) 1px 1px 3px;
    min-height: 200px;
  }

  pre {
    padding-left: 70px;
  }
}
