/* demo/components/HomeScreen/home-screen */

@import 'theme';

:local(.component) {
  .hero {
    margin-top: 5rem;
  }

  .logo {
    display: inline-block;
    height: 6rem;
    width: 6rem;
  }

  .bootstrap-logo {
    border-radius: 15%;
    border: 1px solid #cdbfe3;
    color: #cdbfe3;
    font-weight: normal;
    cursor: default;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif;
    font-size: 4.35rem;
    line-height: 6rem;
    margin: 0 auto;
    text-align: center;
  }

  .react-logo {
    vertical-align: top;
    animation: App-logo-spin infinite 20s linear;
  }

  @keyframes App-logo-spin {
    0% {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(1turn);
    }
  }

  // Feature SVGs
  .feature {
    border-bottom: $border-width solid $border-color;
    padding-bottom: map-get($spacers, 4);
  }

  .feature-header {
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
