/* componentry/src/Heading/heading */

@mixin heading-base {
  color: typography-color(heading);
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
  margin-top: 0;
}

$h1: map-merge(
  (
    font-size: $h1-font-size,
    font-style: $headings-font-style,
    font-weight: $h1-font-weight,
    letter-spacing: $headings-letter-spacing,
    text-transform: $headings-text-transform,
  ),
  $h1
);

.h1 {
  @include heading-base();
  font-size: map-get($map: $h1, $key: font-size);
  font-style: map-get($map: $h1, $key: font-style);
  font-weight: map-get($map: $h1, $key: font-weight);
  letter-spacing: map-get($map: $h1, $key: letter-spacing);
  text-transform: map-get($map: $h1, $key: text-transform);
}

$h2: map-merge(
  (
    font-size: $h2-font-size,
    font-style: $headings-font-style,
    font-weight: $h2-font-weight,
    letter-spacing: $headings-letter-spacing,
    text-transform: $headings-text-transform,
  ),
  $h2
);

.h2 {
  @include heading-base();
  font-size: map-get($map: $h2, $key: font-size);
  font-style: map-get($map: $h2, $key: font-style);
  font-weight: map-get($map: $h2, $key: font-weight);
  letter-spacing: map-get($map: $h2, $key: letter-spacing);
  text-transform: map-get($map: $h2, $key: text-transform);
}

$h3: map-merge(
  (
    font-size: $h3-font-size,
    font-style: $headings-font-style,
    font-weight: $h3-font-weight,
    letter-spacing: $headings-letter-spacing,
    text-transform: $headings-text-transform,
  ),
  $h3
);

.h3 {
  @include heading-base();
  font-size: map-get($map: $h3, $key: font-size);
  font-style: map-get($map: $h3, $key: font-style);
  font-weight: map-get($map: $h3, $key: font-weight);
  letter-spacing: map-get($map: $h3, $key: letter-spacing);
  text-transform: map-get($map: $h3, $key: text-transform);
}

$h4: map-merge(
  (
    font-size: $h4-font-size,
    font-style: $headings-font-style,
    font-weight: $h4-font-weight,
    letter-spacing: $headings-letter-spacing,
    text-transform: $headings-text-transform,
  ),
  $h4
);

.h4 {
  @include heading-base();
  font-size: map-get($map: $h4, $key: font-size);
  font-style: map-get($map: $h4, $key: font-style);
  font-weight: map-get($map: $h4, $key: font-weight);
  letter-spacing: map-get($map: $h4, $key: letter-spacing);
  text-transform: map-get($map: $h4, $key: text-transform);
}

$h5: map-merge(
  (
    font-size: $h5-font-size,
    font-style: $headings-font-style,
    font-weight: $h5-font-weight,
    letter-spacing: $headings-letter-spacing,
    text-transform: $headings-text-transform,
  ),
  $h5
);

.h5 {
  @include heading-base();
  font-size: map-get($map: $h5, $key: font-size);
  font-style: map-get($map: $h5, $key: font-style);
  font-weight: map-get($map: $h5, $key: font-weight);
  letter-spacing: map-get($map: $h5, $key: letter-spacing);
  text-transform: map-get($map: $h5, $key: text-transform);
}

@if ($enable-dom-styles) {
  h1 {
    @extend .h1;
  }
  h2 {
    @extend .h2;
  }
  h3 {
    @extend .h3;
  }
  h4 {
    @extend .h4;
  }
  h5 {
    @extend .h5;
  }
}

// --------------------------------------------------------
// Subheadings

.subheading {
  color: $subheading-font-color;
  font-size: $subheading-font-size;
  font-weight: $subheading-font-weight;
}

// --------------------------------------------------------
// Display headings

.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
