/* ~componentry/styles/atomic/visibility */

// Use aria-hidden for A++ Accessible show/hide, b/c selector is weak and we included
// this partial first, hidden has !important.
*[aria-hidden='true'] {
  display: none !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

// When an element should be hidden from screen readers (aria-hidden) but still visible
// in DOM b/c it is for presentational use, the role presentation can be used to
// keep element visible and screen readers will pick up the aria-hidden state
*[role='presentation'] {
  display: initial;
  pointer-events: auto;
  visibility: visible;
}

// Kill the scroll on the body by adding this class, used with Modals, but could
// also be used for any component that needs to freeze the body on open, like large
// complex dropdowns or drawers on mousein/out
.no-scroll {
  overflow: hidden;
}

@mixin invisible($visibility) {
  visibility: $visibility !important;
}

.visible {
  @include invisible(visible);
}

.invisible {
  @include invisible(hidden);
}
