{
  "presets": [
    // Autoprefixer transpile for only last 2 browser versions
    ["env", {
      "modules": false,
      "targets": { "browsers": "last 2 versions" }
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy", // decorators
    "transform-class-properties", // class static Properties
    "transform-object-rest-spread" // spread operator
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types", // Strip propTypes declarations
        "transform-runtime" // Library babel-helpers with import statements
      ]
    },
    // The plugins list is overwritten for some reason when declaring presets 😣
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
