# Don't Lint Me!
# -------------------------------------

.prettierrc.js

# Babel plugin fixtures aren't fully valid
# -------------------------------------
src/plugin-babel/__fixtures__

# Build/Compile output
# -------------------------------------
storybook-static
dist
