# Don't Git Me!
# -------------------------------------

# Vendor Libraries
# -------------------------------------
node_modules

# Logs
# -------------------------------------
*.log

# Published
# -------------------------------------
commonjs
es
esnext
types

# Documentation
# -------------------------------------
dist
monitor

# Testing
# -------------------------------------
coverage
