# Vendor Libraries
#################################
node_modules
.vscode

# Logs
#################################
*.log

# Published
#################################
lib
es
esnext

# Documentation
#################################
dist
monitor
