# Don't Publish Me!
# -------------------------------------

# Source
# -------------------------------------
src
public

# Output
# -------------------------------------
build
coverage
monitor

# Logs and caches
# -------------------------------------
.esm-cache
false

# Configs
# -------------------------------------
.github
.storybook
.vscode
.cz-config.js
.eslintrc.js
.prettierignore
.prettierrc
.travis.yml
babel.config.js
jsconfig.json
tsconfig.json
webpack.config.js

# Testing
# -------------------------------------
__mocks__
test
jest.config.js

# Documentation
# -------------------------------------
docs
guides
documentation.yml