# Don't Publish Me!
# -------------------------------------

# Source
# -------------------------------------
public
# nb: src/**.scss NEEDS to be published
src/**/*.js
src/**/*.mdx
src/**/*.snap
types.bk
# Storybook assets
**/stories/**
**/storybook/**

# Output
# -------------------------------------
build
coverage
monitor
types/test
types/**/*.spec.d.ts

# Logs and caches
# -------------------------------------
.esm-cache
false

# Configs
# -------------------------------------
.github
.storybook
.vscode
.cz-config.js
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
.travis.yml
babel.config.js
jsconfig.json
renovate.json
tsconfig.json
webpack.config.js

# Testing
# -------------------------------------
__mocks__
test
jest.config.js

# Documentation
# -------------------------------------
docs
guides
documentation.yml