# Skip formatting files generated or managed by other tools

# Theme definitions
src/styles/_variables.scss
src/styles/themes/_radical.scss
src/styles/themes/_majestical.scss
src/styles/_theme.scss
src/styles/functions/_sass.scss
