/* componentry/src/Header/header */

$heading-sizes: (
  h1: $h1-font-size,
  h2: $h2-font-size,
  h3: $h3-font-size,
  h4: $h4-font-size,
  h5: $h5-font-size,
  h6: $h6-font-size,
);

$heading-weights: (
  h1: $h1-font-weight,
  h2: $h2-font-weight,
  h3: $h3-font-weight,
  h4: $h4-font-weight,
  h5: $h5-font-weight,
  h6: $h6-font-weight,
);

// Creating individual output for each header adds ~25 lines of CSS, but also
// makes debugging styles much cleaner, and more closely aligns with the goal of
// mapping classes to usage 1:1.
@each $heading, $heading-font-size in $heading-sizes {
  #{$heading},
  .#{$heading} {
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: map-get($map: $heading-weights, $key: $heading);
    line-height: $headings-line-height;
    color: $headings-color;
    font-size: $heading-font-size;
  }
}
