/*! ~componentry/src/Text/text */

//                                    Text component styles
// --------------------------------------------------------

$text: () !default;

$_text: (
  // A class is generated for each variant
    variants:
    (
      // --- Heading 1 styles
        heading-1:
        (
          font-size: 3rem,
        ),
      // --- Heading 2 styles
        heading-2:
        (
          font-size: 2rem,
        ),
      // --- Heading 3 styles
        heading-3:
        (
          font-size: 1.5rem,
        ),
      // --- Body styles
        body:
        (
          font-size: 1rem,
          // Set spacing between multiple paragraphs using sibling selector and
            // margin-top.
            '& + &':
            (
              margin-top: 1rem,
            ),
        )
    )
);

$text: map-assign($_text, $text);

@each $variant, $styles in get($text, variants) {
  @include style-rule-from-map(componentry-class($variant), $styles);
}
