/* componentry/src/Modal/modal */

// .modal-overlay    - Modal background overlay
// .modal-positioner - Modal position manager
// .modal-container  - Modal content container

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  background: $modal-overlay-bg;
}

.modal-positioner {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $modal-positioner-padding;
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: $modal-container-bg;
  // Prevent inner element bgs from overlaying border style
  background-clip: padding-box;
  border: $modal-container-border-width solid $modal-container-border-color;
  box-shadow: box-shadow($modal-container-box-shadow);
  @include border-radius($modal-container-border-radius);

  // Horizontally center the content
  margin-left: auto;
  margin-right: auto;

  @include transition(transform 0.25s linear);

  // Slide-in transform
  @if ($enable-modal-transform) {
    transform: translate(0, -25%);

    &.visible {
      transform: translate(0, 0);
    }
  }

  &.center {
    margin: auto;
  }
}

// --------------------------------------------------------
// Modal scrolling

// Adds scrolling to the modal overlay (default)
.modal-overlay-scroll {
  .modal-positioner {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Adds scrolling to the modal container
.modal-container-scroll {
  .modal-container {
    max-height: 100%;
    overflow-y: scroll;
  }
}

// Adds scrolling to the modal body
.modal-body-scroll {
  .modal-container {
    max-height: 100%;
  }

  .modal-body {
    overflow-y: scroll;
  }
}

// --------------------------------------------------------
// Breakpoints modal scaling

// Once screen is larger than small, adjust modals from being full-screen-ish
// to centered, constrained width modals
@include media-breakpoint-up(sm) {
  .modal-positioner {
    // (can be used to adjust modal distance from top of screen
    padding: $modal-positioner-padding-sm-up auto;
  }

  .modal-container {
    max-width: $modal-md;
    box-shadow: box-shadow($modal-container-box-shadow-sm-up);
  }

  // Screen is now wide enough for small modals
  .modal-sm {
    max-width: $modal-sm;
  }
}

@include media-breakpoint-up(lg) {
  // Screen is now wide enough for large modals
  .modal-lg {
    max-width: $modal-lg;
  }
}

// --------------------------------------------------------
// Modal header

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: $modal-header-padding;
  background-color: $modal-header-bg;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($modal-container-border-radius);
}

// --------------------------------------------------------
// Modal title

.modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
  color: $modal-title-color;
  font-size: $modal-title-font-size;
  font-weight: $modal-title-font-weight;
}

// --------------------------------------------------------
// Modal body

.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-container`.
  flex: 1 1 auto;
  padding: $modal-body-padding;
}

// --------------------------------------------------------
// Modal footer

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $modal-footer-padding;
  background-color: $modal-footer-bg;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
  @include border-bottom-radius($modal-container-border-radius);
}

// Measure scrollbar width for padding body during modal show/hide
// TODO: what is this?
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
