/* ~componentry/styles/utility/alignment */

@each $breakpoint in map-keys(theme-get('breakpoints')) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, theme-get('breakpoints'));

    // --- Justify content
    .#{$infix}justify-start {
      justify-content: flex-start !important;
    }
    .#{$infix}justify-end {
      justify-content: flex-end !important;
    }
    .#{$infix}justify-center {
      justify-content: center !important;
    }
    .#{$infix}justify-between {
      justify-content: space-between !important;
    }
    .#{$infix}justify-around {
      justify-content: space-around !important;
    }
    .#{$infix}justify-evenly {
      justify-content: space-evenly !important;
    }

    // --- Align items
    .#{$infix}items-start {
      align-items: flex-start !important;
    }
    .#{$infix}items-end {
      align-items: flex-end !important;
    }
    .#{$infix}items-center {
      align-items: center !important;
    }
    .#{$infix}items-baseline {
      align-items: baseline !important;
    }
    .#{$infix}items-stretch {
      align-items: stretch !important;
    }

    // --- Align content
    .#{$infix}content-start {
      align-content: flex-start !important;
    }
    .#{$infix}content-end {
      align-content: flex-end !important;
    }
    .#{$infix}content-center {
      align-content: center !important;
    }
    .#{$infix}content-between {
      align-content: space-between !important;
    }
    .#{$infix}content-around {
      align-content: space-around !important;
    }
    .#{$infix}content-stretch {
      align-content: stretch !important;
    }

    // --- Align self
    .#{$infix}self-auto {
      align-self: auto !important;
    }
    .#{$infix}self-start {
      align-self: flex-start !important;
    }
    .#{$infix}self-end {
      align-self: flex-end !important;
    }
    .#{$infix}self-center {
      align-self: center !important;
    }
    .#{$infix}self-baseline {
      align-self: baseline !important;
    }
    .#{$infix}self-stretch {
      align-self: stretch !important;
    }
  }
}
