/* ~componentry/src/styles/utility/background */

@each $color, $value in $background-colors {
  .background-#{$color} {
    background-color: $value !important;
  }

  // DEPRECATED: Bootstrap classes
  .bg-#{$color} {
    background-color: $value !important;
  }
}

.background-transparent {
  background-color: transparent !important;
}

// DEPRECATED:
.bg-transparent {
  background-color: transparent !important;
}
