/* ~componentry/styles/utility/borders */

// --------------------------------------------------------
// Borders addition

.border {
  border-color: border-color(default);
  border-width: $border-width;
  border-style: solid;
}
.border-top {
  border-color: border-color(default);
  border-top-style: solid;
  border-top-width: $border-width;
}
.border-right {
  border-color: border-color(default);
  border-right-style: solid;
  border-right-width: $border-width;
}
.border-bottom {
  border-color: border-color(default);
  border-bottom-style: solid;
  border-bottom-width: $border-width;
}
.border-left {
  border-color: border-color(default);
  border-left-style: solid;
  border-left-width: $border-width;
}

// --------------------------------------------------------
// Borders removal

.border-0 {
  border-width: 0 !important;
}
.border-top-0 {
  border-top-width: 0 !important;
}
.border-right-0 {
  border-right-width: 0 !important;
}
.border-bottom-0 {
  border-bottom-width: 0 !important;
}
.border-left-0 {
  border-left-width: 0 !important;
}

// --------------------------------------------------------
// Colors

@each $color, $value in $border-colors {
  .border-#{$color} {
    border-color: $value !important;
  }
}

// --------------------------------------------------------
// Widths

.border-width-sm {
  border-width: $border-width-sm;
}

.border-width-lg {
  border-width: $border-width-lg;
}

.border-width-xl {
  border-width: $border-width-xl;
}

// --------------------------------------------------------
// Border radius

.border-radius {
  border-radius: $border-radius !important;
}
.border-radius-sm {
  border-radius: $border-radius-sm !important;
}
.border-radius-lg {
  border-radius: $border-radius-lg !important;
}

// TODO: provide sm and lg sizes for each of the directional variations
.border-radius-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}
.border-radius-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}
.border-radius-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}
.border-radius-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.border-radius-circle {
  // Setting a very large number for the border radius will cause browsers to
  // calculate the correct number for a completely rounded edge with no overlap
  // https://drafts.csswg.org/css-backgrounds/#corner-overlap
  // Corner curves must not overlap: When the sum of any two adjacent border
  // radii exceeds the size of the border box, UAs must proportionally reduce
  // the used values of all border radii until none of them overlap.
  border-radius: 1000px !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}
