/* ~componentry/styles/atomic/position */

//
// Position

$positions: static, relative, absolute, fixed, sticky;
@each $position in $positions {
  .position-#{$position} {
    position: $position !important;
  }
}

//
// Fixed utility classes

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}

//
// --- Sticky utility classes

.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

.sticky-bottom {
  @supports (position: sticky) {
    position: sticky;
    bottom: 0;
    z-index: $zindex-sticky;
  }
}

/**
 * --- Full screen overlay
 */
.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/**
 * ---- Full screen width row
 */
.screen-row {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}
