/* ~componentry/ssrc/tyles/utility/text */

// --------------------------------------------------------
// Font Families

@each $key, $value in $font-families {
  .font-family-#{$key} {
    font-family: $value !important;
  }
}

// --------------------------------------------------------
// Colors

@each $key, $value in $typography-colors {
  .font-color-#{$key} {
    color: $value !important;
  }
}

.font-color-inherit {
  color: inherit !important;
}

// --------------------------------------------------------
// Font sizes

@each $key, $value in $font-sizes {
  .font-size-#{$key} {
    font-size: $value !important;
  }
}

// --------------------------------------------------------
// Line heights

@each $key, $value in $line-heights {
  .line-height-#{$key} {
    line-height: $value !important;
  }
}

// --------------------------------------------------------
// Font weights

@each $key, $value in $font-weights {
  .font-weight-#{$key} {
    font-weight: $value !important;
  }
}

// --------------------------------------------------------
// Italic

.italic {
  font-style: italic !important;
}

// --------------------------------------------------------
// Transforms

.lowercase {
  text-transform: lowercase !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}

// --------------------------------------------------------
// Decoration

.line-through {
  text-decoration: line-through !important;
}

.underline {
  text-decoration: underline !important;

  &:hover,
  &:active {
    text-decoration: underline !important;
  }
}

.disable-text-decoration {
  text-decoration: none !important;

  &:hover,
  &:active {
    text-decoration: none !important;
  }
}

// --------------------------------------------------------
// Alignment

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .text-align#{$infix}-left {
      text-align: left !important;
    }
    .text-align#{$infix}-right {
      text-align: right !important;
    }
    .text-align#{$infix}-center {
      text-align: center !important;
    }
    .text-align#{$infix}-justify {
      text-align: justify !important;
    }
  }
}

// --------------------------------------------------------
// Blockquotes

// TODO: make this a component
// .blockquote {
//   margin-bottom: $space-base;
//   font-size: $blockquote-font-size;
// }

// .blockquote-footer {
//   display: block;
//   font-size: 80%; // back to default font-size
//   color: $blockquote-small-color;

//   &::before {
//     content: '\2014 \00A0'; // em dash, nbsp
//   }
// }

// --------------------------------------------------------
// Text wrapping

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// --------------------------------------------------------
// Word breaking

.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
