/* ~componentry/ssrc/tyles/utility/text */

// --------------------------------------------------------
// Font Families

.text-monospace {
  font-family: $font-family-monospace;
  font-size: $font-size-monospace;
}

// --------------------------------------------------------
// Colors

@each $color, $value in $typography-colors {
  .font-color-#{$color} {
    color: $value !important;
  }
  a.font-color-#{color} {
    @include hover-focus {
      color: darken($value, 10%) !important;
    }
  }

  // DEPRECATED: Support BS `text-<color>` classes
  .text-#{$color} {
    color: $value !important;
  }
  a.text-#{$color} {
    @include hover-focus {
      color: darken($value, 10%) !important;
    }
  }
}

// --------------------------------------------------------
// Sizes

// The .text-<size> classes are intended for regular text like p, span,
// etc. and provide a utility for minor text adjustments when applications don't
// want to use small headers and small dom elements to handle these types

.font-size-xs {
  font-size: $font-size-xs;
}

.font-size-sm {
  font-size: $font-size-sm;
}

.font-size-base {
  font-size: $font-size-base;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-xl {
  font-size: $font-size-xl;
}

// DEPRECATED: Support BS `text-<size>` classes
.text-xs {
  font-size: $font-size-xs;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-base {
  font-size: $font-size-base;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-xl {
  font-size: $font-size-xl;
}

// --------------------------------------------------------
// Line heights

.line-height-xs {
  line-height: $line-height-xs;
}

.line-height-sm {
  line-height: $line-height-sm;
}

.line-height-base {
  line-height: $line-height-base;
}

.line-height-lg {
  line-height: $line-height-lg;
}

.line-height-xl {
  line-height: $line-height-xl;
}

.line-height-1 {
  line-height: 1;
}

// --------------------------------------------------------
// Weights

.font-weight-lighter {
  font-weight: $font-weight-lighter !important;
}
.font-weight-light {
  font-weight: $font-weight-light !important;
}
.font-weight-normal {
  font-weight: $font-weight-normal !important;
}
.font-weight-bold {
  font-weight: $font-weight-bold !important;
}
.font-weight-bolder {
  font-weight: $font-weight-bolder !important;
}

// --------------------------------------------------------
// Italic

.font-style-italic {
  font-style: italic !important;
}

// --------------------------------------------------------
// Transforms

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

// --------------------------------------------------------
// Decoration

.text-underline {
  text-decoration: underline !important;

  &:hover,
  &:active {
    text-decoration: underline !important;
  }
}

.text-line-through {
  text-decoration: line-through !important;
}

.suppress-text-decoration {
  text-decoration: none !important;

  &:hover,
  &:active {
    text-decoration: none !important;
  }
}

// --------------------------------------------------------
// Alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text-align#{$infix}-left {
      text-align: left !important;
    }
    .text-align#{$infix}-right {
      text-align: right !important;
    }
    .text-align#{$infix}-center {
      text-align: center !important;
    }
    .text-align#{$infix}-justify {
      text-align: justify !important;
    }
  }
}

// --------------------------------------------------------
// Blockquotes

.blockquote {
  margin-bottom: $space-base;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: '\2014 \00A0'; // em dash, nbsp
  }
}

// --------------------------------------------------------
// Emphasis

.small {
  color: $small-font-color;
  font-size: $small-font-size;
  font-weight: $small-font-weight;
}

.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

// --------------------------------------------------------
// Lists

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

// --------------------------------------------------------
// Misc

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
