/* componentry/src/Typography/typography */

// --------------------------------------------------------
// Headings

$heading-1: () !default;
@include classFromMap(
  heading-1,
  map-collect(
    map-deep-get($theme, 'typography', 'heading'),
    map-deep-get($theme, 'typography', 'heading-1'),
    (
      color: map-deep-get($theme, 'palette', 'typography', 'heading'),
    ),
    $heading-1
  )
);

$heading-2: () !default;
@include classFromMap(
  heading-2,
  map-collect(
    map-deep-get($theme, 'typography', 'heading'),
    map-deep-get($theme, 'typography', 'heading-2'),
    (
      color: map-deep-get($theme, 'palette', 'typography', 'heading'),
    ),
    $heading-2
  )
);

$heading-3: () !default;
@include classFromMap(
  heading-3,
  map-collect(
    map-deep-get($theme, 'typography', 'heading'),
    map-deep-get($theme, 'typography', 'heading-3'),
    (
      color: map-deep-get($theme, 'palette', 'typography', 'heading'),
    ),
    $heading-3
  )
);

// --------------------------------------------------------
// Body

$body: () !default;
@include classFromMap(
  body,
  map-collect(
    map-deep-get($theme, 'typography', 'body'),
    (
      color: map-deep-get($theme, 'palette', 'typography', 'body'),
    ),
    $body
  )
);

/// Set spacing between multiple paragraphs using sibling selector and
/// margin-top.
.body + .body {
  margin-top: $body-gutter;
}
