/* componentry/src/Typography/typography */

$typography: () !default;

$typography-base: (
  // Component classNames prefix
    prefix: $component-prefix,
  // A class is generated for each variant
    variants:
    (
      // --- Heading 1 styles
        heading-1:
        (
          font-size: 3rem,
          margin-bottom: 0,
        ),
      // --- Heading 2 styles
        heading-2:
        (
          font-size: 2rem,
          margin-bottom: 0,
        ),
      // --- Heading 3 styles
        heading-3:
        (
          font-size: 1.5rem,
          margin-bottom: 0,
        ),
      // --- Body styles
        body:
        (
          font-size: 1rem,
          // Set spacing between multiple paragraphs using sibling selector and
            // margin-top.
            '& + &':
            (
              margin-top: 1rem,
            ),
        )
    )
);

$merged-typography: map-assign($typography-base, $typography);

@each $variant, $styles in get($merged-typography, variants) {
  @include style-rule-from-map('.#{get($merged-typography, prefix)}#{$variant}', $styles);
}
