/* demo/components/universal/click-to-copy */
.click-to-copy-component--4377c {
  line-height: 1; }
  .click-to-copy-component--4377c:hover, .click-to-copy-component--4377c:focus {
    text-decoration: none; }
  .click-to-copy-component--4377c .icons {
    display: inline-block;
    position: relative;
    opacity: 0.25;
    transition: opacity 0.5s; }
  .click-to-copy-component--4377c:hover .icons {
    opacity: 1; }
  .click-to-copy-component--4377c .icon-copied {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.35s; }
    .click-to-copy-component--4377c .icon-copied.active {
      opacity: 1; }

/* demo/components/universal/InteractiveDemo/interactive-demo */
/* demo/styles/theme */
/*
 * Complete theme setup by importing the Componentry default variables,
 * functions and mixins
 */
/* ~componentry/styles/theme */
/* ~componentry/styles/theme/functions */
/**
 * Returns a gradient background color when gradients are enabled for theme
 */
/* ~componentry/styles/theme/mixins */
/* ~componentry/styles/variables */
/**
 * BUTTONS
 */
.interactive-demo-component--c6fed pre {
  max-width: 100%;
  padding-left: 70px; }

.interactive-demo-component--c6fed .rendered-container {
  min-height: 150px; }

.interactive-demo-component--c6fed .code-container {
  position: relative; }

.interactive-demo-component--c6fed .copy-container {
  position: absolute;
  top: 0.75em;
  right: 0.75em; }
  .interactive-demo-component--c6fed .copy-container button {
    font-size: 1.5rem; }

/* form-field */
.form-field-component--9a900 .dropdown-field {
  padding-top: calc(0.375rem + 1px); }

/* demo/components/universal/PropsDocs/props-docs */
/* demo/styles/theme */
/*
 * Complete theme setup by importing the Componentry default variables,
 * functions and mixins
 */
/* ~componentry/styles/theme */
/* ~componentry/styles/theme/functions */
/**
 * Returns a gradient background color when gradients are enabled for theme
 */
/* ~componentry/styles/theme/mixins */
/* ~componentry/styles/variables */
/**
 * BUTTONS
 */
.props-tabs-component--f9ff8 {
  margin-top: 100px; }
  .props-tabs-component--f9ff8 .tab-panes-container {
    min-height: 500px; }
  .props-tabs-component--f9ff8 tbody {
    font-size: 0.875rem; }

/* demo/components/universal/PropsDocs/PropsDocsContent/props-docs-content */
.tab-content-component--80a52 {
  table-layout: fixed; }
  .tab-content-component--80a52 .name {
    width: 19%; }
  .tab-content-component--80a52 .type {
    width: 22%; }
  .tab-content-component--80a52 .description {
    width: 44%; }
  .tab-content-component--80a52 .default {
    width: 15%; }

/* demo/components/universal/app-nav */
/* demo/styles/theme */
/*
 * Complete theme setup by importing the Componentry default variables,
 * functions and mixins
 */
/* ~componentry/styles/theme */
/* ~componentry/styles/theme/functions */
/**
 * Returns a gradient background color when gradients are enabled for theme
 */
/* ~componentry/styles/theme/mixins */
/* ~componentry/styles/variables */
/**
 * BUTTONS
 */
.app-nav-component--818ef {
  border-bottom: 5px solid #374d68; }
  .app-nav-component--818ef .logo {
    font-size: 24px; }
    .app-nav-component--818ef .logo:hover, .app-nav-component--818ef .logo:focus {
      text-decoration: none; }
  .app-nav-component--818ef .dropdown-toggle {
    background-color: #ecf0f1;
    color: #374d68; }

/* demo/components/universal/GroupNav/group-nav */
.group-nav-component--81def {
  position: -webkit-sticky;
  position: sticky;
  top: 2em; }


/*# sourceMappingURL=main.2df398668e9e.css.map*/