/* componentry/styles/jetpack/icons */

// ℹ️ The icon class can be used with SVGs to create font icons
.icon {
  display: inline-flex;
  fill: currentColor;
  height: 1em;
  position: relative; // for margin-bottom
  width: 1em; // width + height of 1em makes icons font-sized by default

  // SVG icons displayed with inline flex do not have the same baseline as fonts,
  // the margin bottom adjustment aligns the svg baseline with the font baseline
  // Using margin-bottom also helps prevent icons from affecting the height of
  // parent containers with line-height set
  &.font {
    margin-bottom: $icon-bottom;
  }
}

// Animate close icon on hover
.icon.close {
  opacity: 0.6;
  transition: $transition-fade;

  @include hover-focus {
    opacity: 1;
  }
}

// If the chevron icon is used with a drawer toggle, it will rotate a quarter turn
// on open/close of drawer
.drawer-toggle,
.accordion-toggle {
  .chevron.icon {
    transition: transform 500ms;
    transform: rotate(-0.25turn);
  }

  &[aria-expanded='true'] {
    .chevron.icon {
      transform: rotate(0);
    }
  }
}
