/**
 *                                    💖 Majestical Theme
 * --------------------------------------------------------
 */


$h1-font-size:    ($font-size-base * 5);    // 80 ~ 2x
$h2-font-size:    ($font-size-base * 2.5);  // 40 ~ 1.7x
$h3-font-size:    ($font-size-base * 1.75); // 28 ~ 1.4x
$h4-font-size:    ($font-size-base * 1.5);
$h5-font-size:    ($font-size-base * 1.25)