/**
 *                                       🔮 Radical Theme
 * --------------------------------------------------------
 */

// --------------------------------------------------------
// Theme Colors

$grayscale: (
  '100':  #e4e0f0,
  '600':  #48676a,
);

$theme-colors: (
  background:  #181424,
  foreground:  #c6d2d1,
  primary:     #ff428e,
  secondary:   #a8ffef,
  success:     #c3f920,
  info:        #2bf5e9,
  warning:     #ffc300,
  danger:      #fc4552,
);

$background-colors: (
  ultra:       #110f16,
  background:  #181424,
  overlay:     rgba(24, 20, 36, 0.5),
);

$border-colors: (
  mito: #2c3258,
);

$font-colors: (
  anchor:   #5effbd,
  heading:  #ffc4e2,
  muted:    #48676a,
  lead:     #48676a,
);

$themes: (
  majestical: (
    class-name: 'majestical-theme',
  ),
  radical: (
    class-name: 'radical-theme',
    theme-colors: $theme-colors,
    border-colors: $border-colors,
    background-colors: $background-colors,
  ),
);

// --------------------------------------------------------
// Spacing

$space-base: 1rem;
$spacing: (
  0: 0,
  1: var(--s1),
  2: var(--s2),
  3: var(--s3),
  4: var(--s4),
  5: var(--s5),
);

// Fonts
// ---------------------------------------------------------------------------
$font-family-sans-serif: 'Play', serif;

$font-size-base:   20px;
$font-size-lg:     1.25rem;
$font-size-sm:     0.8rem;

$line-height-base: 1.6;

// Headings
$headings-color: #ffc4e2;
$headings-font-family:     'Orbitron', sans-serif;
$headings-font-weight:     400;
$headings-letter-spacing:  0.1em;
$headings-line-height:     1.5;
$headings-margin-bottom:   0;

$h1-font-size: var(--h1);
$h2-font-size: var(--h2);
$h3-font-size: var(--h3);
$h4-font-size: var(--h4);

// Keep paragraphs to a readable length by default, override with mw-100 where needed
$paragraph-max-width: 800px;

$lead-font-size: var(--lead);

// --------------------------------------------------------
// Icons

$icon-bottom: -0.2em;

// --------------------------------------------------------
// HTML elements

$small-font-size: 80%;

// --------------------------------------------------------
// Componentry defaults for unset variables

@import '../variables';
