/*                                 ⚙️ Componentry default theme specification
 * -----------------------------------------------------------------------------
 *
 * Motivations & Guidelines:
 *
 * - Use semantic or generic names, eg `primary` is a good generic name
 *   and `container` is a good semantic name. This allows users to have useful
 *   defaults with generics and useful fine tuned customizations with semantic
 *   names.
 * -------------------------------------------------------------------------- */

@import './functions/sass';
@import './functions/lib';

$theme: () !default;

$font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace !default;

/// Theme
$theme: map-assign((
  // --- BREAKPOINTS
  breakpoints: (
    sm: 0,
    md: 768px,
    lg: 1250px,
  ),

  // --- SPACING
  spacing: (
    0: 0,
    xs: 0.25rem,
    sm: 0.5rem,
    md: 1rem,
    lg: 2rem,
    xl: 3rem,
  ),

  // --- PALETTE
  palette: (
    theme-colors: (primary, success, warning, critical),
    // ℹ️ Using gray for this key causes SASS to return null when trying to look
    // up the value (presumably b/c gray is a color)
    grayscale: (
      '100': #EFF2F3,
      '200': #D7DFE2,
      '300': #BFCBD1,
      '400': #90A4AE,
      '500': #607D8B,
      '600': #56717D,
      '700': #3A4B53,
      '800': #2B383F,
      '900': #1D262A,
    ),
    primary: (
      '100': #F2F1FF,
      '200': #DFDDFF,
      '300': #CBC9FF,
      '400': #A4A0FF,
      '500': #7D77FF,
      '600': #716BE6,
      '700': #4B4799,
      '800': #383673,
      '900': #26244D
    ),
    success: (
      '100': #F4F9ED,
      '200': #E4F1D2,
      '300': #D4E8B7,
      '400': #B3D681,
      '500': #93C54B,
      '600': #84B144,
      '700': #58762D,
      '800': #425922,
      '900': #2C3B17,
    ),
    warning: (
      '100': #FDF8EC,
      '200': #FBEDCF,
      '300': #F9E2B2,
      '400': #F4CD78,
      '500': #EFB73E,
      '600': #D7A538,
      '700': #8F6E25,
      '800': #6C521C,
      '900': #483713,
    ),
    critical: (
      '100': #FBEEED,
      '200': #F6D4D3,
      '300': #F0BAB9,
      '400': #E48784,
      '500': #D9534F,
      '600': #C34B47,
      '700': #82322F,
      '800': #622524,
      '900': #411918
    ),
    typography: (
      body: #1a1a1a,
      code: #ffadc0,
      inverse: #f0f0f0,
      success: #84B144,
      warning: #D7A538,
      critical: #C34B47
    ),
    backgrounds: (
      body: #fff
    ),
    borders: (),
    shadows: ()
  ),

  // --- TYPOGRAPHY
  typography: (
    font-families: (
      primary: $font-family-primary,
      monospace: $font-family-monospace,
    ),
    font-sizes: (
      sm: 0.875rem,
      base: 1rem,
      lg: 1.25rem,
    ),
    font-weights: (
      light: 300,
      normal: 400,
      bold: 700,
    ),
    letter-spacings: (),
    line-heights: (
      single: 1,
      body: 1.5,
    ),
    text-shadows: ()
  ),

  // --- BORDERS
  borders:(
    default: 1px solid #607d8b,
  ),
  border-widths: (),
  border-radii: (
    default: 4px,
    sm: 2px,
    md: 4px,
    lg: 6px
  ),

  // --- SHADOWS
  shadows: (
    default: 0 0.5rem 1rem rgba(73, 80, 87, 0.15)
  ),
), $theme);

// --------------------------------------------------------
// Theme functions

/// Convenience function for accessing a theme value by period delimited path
/// @param {string} $path Path to theme value
/// @return {*} Theme value at path
@function theme-get($path) {
  @return get($theme, $path);
}

// --------------------------------------------------------
// 3.0 Variables

$classes-prefix: 🅲- !default;
