// Demo App Custom Styles
// ---------------------------------------------------------------------------

p {
  max-width: 700px;
}

// TODO: Move to Jetpacked
.fullscreen-row {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
