// Demo App Custom Styles
// ---------------------------------------------------------------------------

// Constrain typography elements to 700px wide for better readability
p,
li {
  max-width: 700px;
}

// The props-tabs are the last elements on each screen and having a min-height helps
// reduce jump when changing from a long tab to a short tab
.props-tabs {
  min-height: 400px;
}

// TODO: Move to Jetpacked
.fullscreen-row {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
