// Demo App Custom Styles
// ---------------------------------------------------------------------------

// Constrain typography elements to 700px wide for better readability
p, li {
  max-width: 700px;
}

// TODO: Move to Jetpacked
.fullscreen-row {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}
