// ========================================================
// Componentry 'Clear' Theme
// ========================================================

// NOTES:
// Access maps using Sass map-get function, eg: map-get($spacers, 4);

// Colors
// ---------------------------------------------------------------------------
// Theme grayscale
// TODO: Pick 10 and map grays to Bs gray values
$coal: #292b2c;
$pebble: #464a4c;
$slate: #636c72;
$aluminum: #a1aeb7;
$wolf: rgba(149, 165, 175, 0.3);
$smoke: #eceeef;
$ash: #f7f7f9;
$white: #fff;

// Gotta have those blues
$aegean: #39608e;
$denim: #374d68;
$cerulean: #5bc0de;

$theme-colors: (
  primary: $denim,
  secondary: $pebble,
  success: #93c54b,
  info: $cerulean,
  warning: #efb73e,
  danger: #d9534f,
  light: $ash,
  dark: $coal
);

$theme-color-interval: 8%;

// Global Options
// ---------------------------------------------------------------------------
$enable-rounded: true;
$enable-shadows: true;

// Spacing
// ---------------------------------------------------------------------------
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

// Body
// ---------------------------------------------------------------------------
$body-bg: $white;
$body-color: $coal;

// Links
// ---------------------------------------------------------------------------
$link-color: $aegean;

// Fonts
// ---------------------------------------------------------------------------
$font-family-sans-serif: 'Libre Franklin', Arial, sans-serif;

$font-size-base: 0.9375rem; // 15px base assuming 1 rem = 16px
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.8;

$line-height-base: 1.5;

$h1-font-size: 48px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 18px;

$headings-font-weight: 300;
$headings-color: $pebble;

$small-font-size: 80%;
$text-muted: $slate;

$icon-bottom: -0.2em; // Componentry Var

// Components
// ---------------------------------------------------------------------------
$border-width: 1px !default;
$border-color: $wolf;
$transition-fade: opacity .3s linear;

// Buttons
// ---------------------------------------------------------------------------
// Disable wonky Bootstrap box-shadow on button focus
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;

// Dropdowns
// ---------------------------------------------------------------------------
$dropdown-item-padding-x: 1.5rem;
$dropdown-item-padding-y: 0.25rem;

// Tooltips
// ---------------------------------------------------------------------------
$tooltip-max-width: 350px;
$tooltip-bg: $pebble;
$tooltip-padding-y: 5px;
$tooltip-padding-x: 8px;
$tooltip-arrow-width: 8px;

// Popovers
// ---------------------------------------------------------------------------
$popover-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
$popover-inner-padding: 15px;

// Modals
// ---------------------------------------------------------------------------
$modal-content-border-width: 0 !default;
$modal-header-border-width: $border-width !default;
$modal-footer-border-width: $border-width !default;
$modal-content-box-shadow-xs: 0 3px 9px rgba(149, 165, 175, 0.7) !default;
$modal-content-box-shadow-sm-up: 0 5px 15px rgba(149, 165, 175, 0.7) !default;

// Code
// ---------------------------------------------------------------------------
$code-bg: #f9f2f4;

// ========================================================
// Theme Styles
// ========================================================
// Dear Bootstrap, thank you for auto-calculating contrast, but I really really
// want these buttons to still have color white, even though they don't have
// enough contrast. I'm sorry.
.btn.btn-success,
.btn.btn-info,
.btn.btn-warning {
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
  }
}

// Theme dark-outline is a nice 'secondary' button but the dark-bg on hover is 🙅‍♂️
.btn.btn-outline-dark:hover {
  color: $body-color;
  background: $ash;
}

// Small text in theme is intended for less important information. Convey this with
// size AND a lighter gray font color
small,
.small {
  color: $text-muted;
}

// Default constraint for paragraphs helps with readability, can be overridden
// where needed with `mw-100`
p {
  max-width: 800px;
}

// ========================================================
// Libre Franklin Font - Weights 300 and 400
// ========================================================

/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
    url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U7xHoxYlEhdfxgPTmEO-jGTc.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'),
    url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U77v_weys7n7jZxU_6MdmmbI.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'),
    url(https://fonts.gstatic.com/s/librefranklin/v1/1_DGDtljMiPWFs5rl_p0yMq-pbAjJt28asgHno7W9sM.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'),
    url(https://fonts.gstatic.com/s/librefranklin/v1/1_DGDtljMiPWFs5rl_p0yGISN6_59ECOhaitw-i87uk.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
