@import '../../styles/themes/clear';

.hero {
  margin-top: 5rem;
}

.logo {
  display: inline-block;
  height: 9rem;
  width: 9rem;
}

.bootstrap-logo {
  border-radius: 15%;
  border: 1px solid #cdbfe3;
  color: #cdbfe3;
  font-weight: normal;
  cursor: default;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 6.5rem;
  line-height: 9rem;
  margin: 0 auto;
  text-align: center;
}

.react-logo {
  vertical-align: top;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

// Feature SVGs
.feature {
  border-bottom: $border-width solid $border-color;
  padding-bottom: map-get($spacers, 4);
}

.feature-header {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
