// ========================================================
// Alerts
// ========================================================

// Assumed class names:
// .alert, .alert-<COLOR>

// Alert overrides make wrapper a flex element and removes the float from the close
// button.
.alert {
  display: flex;
  justify-content: space-between;

  // Close button inherits color from the alert, and animates to full opacity
  .close {
    color: inherit;
    float: none; // BS override
    font-size: 1em;
    opacity: 0.6;
    transition: $transition-fade;

    &:hover,
    &:focus {
      color: inherit;
      opacity: 1;
    }
  }
}
