// ========================================================
// Chevron Icon
// ========================================================

// Bundled chevron icon can be used with toggle elements for more visual display
// of toggled state

.chevron-icon {
  background-image: url($chevron-icon);
  display: inline-block;
  width: 0.8em; // TODO: configurable
  height: 0.8em; // TODO: configurable
}
