// ========================================================
// Close Icon
// ========================================================

// Bootstrap has .close styles, but they rely on floats and the icon is a chunk
// These styles don't assume floats are used and the close icon is configurable.

// Make the wrapping button for a close icon have a matching height as line of text
// and transition opacity on hover for some extra sass.
.close-button {
  height: $line-height-base * 1em;
  opacity: 0.6;
  transition: $transition-fade;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

// Close icon has a default background image with color dark from theme
.close-icon {
  background-image: url(str-replace($close-icon, 'FILL_COLOR', $close-icon-color));
  display: block;
  height: 1em;
  width: 1em;
}
// Creates a themed variant of the close icon for each theme color
@mixin close-icon-variant($themeColor) {
  background-image: url(str-replace($close-icon, 'FILL_COLOR', $themeColor));
}
// Only create themed close icons if configured, this is defaulted to false
@if $enable-themed-close-icons {
  @each $color, $value in $theme-colors {
    .close-icon.#{$color} {
      @include close-icon-variant($value);
    }
  }
}
