// ========================================================
// Drawer
// ========================================================

.drawer-trigger {
  display: block;
  text-align: left;
  width: 100%;
}

// Drawer content is default styled like a card with a single div
.drawer-content {
  background-color: $card-bg;
  border: $card-border-width solid $card-border-color;
  display: flex;
  flex-direction: column;
  padding: $card-spacer-x;
  position: relative;
  @include border-radius($card-border-radius);
}
