// ========================================================
// Icon
// ========================================================


.icon {
  bottom: -0.2em; // match svg baseline to match font baseline
  display: inline;
  fill: currentColor;
  height: 1em;
  position: relative; // for bottom
  width: 1em; // width + height of 1em makes icons font-sized by default

  &.b0 {
    bottom: 0;
  }
}
