// ========================================================
// Icons
// ========================================================

// The icon class is intended for use with SVGs to create font icons

.icon {
  bottom: $icon-bottom; // match svg baseline to match font baseline
  display: inline;
  fill: currentColor;
  height: 1em;
  position: relative; // for bottom
  width: 1em; // width + height of 1em makes icons font-sized by default

  // Icons are styled as font icons by default, meaning they need a baseline
  // adjustment provided by the `bottom` rule to match the font baseline. If the
  // icon is not a font icon, the `b0` class will be added so that any other
  // alignment classes used work properly
  &.b0 {
    bottom: 0;
  }
}
