// ========================================================
// List Group
// ========================================================

// Bootstrap button lists don't include the .btn class on the buttons, and it *IS*
// included in Componentry, so the inherited border-radius and line-height need to
// expclitly set to override `.btn` styles
.btn.list-group-item {
  border-radius: 0;
  line-height: $line-height-base;

  &:first-of-type {
    border-top-right-radius: $list-group-border-radius;
    border-top-left-radius: $list-group-border-radius;
  }

  &:last-of-type {
    border-bottom-right-radius: $list-group-border-radius;
    border-bottom-left-radius: $list-group-border-radius;
  }
}
