// ========================================================
// Modals
// ========================================================

// Bootstrap uses class 'fade' with class 'show' and inline styles to handle modal
// show/hide. Componentry overrides this to use aria-hidden attr

.modal-backdrop {
  // Bootstrap modal background is appended to bottom of DOM and has position fixed
  // and bad arias. Componentry uses absolute div to keep inside of modal wrapper
  position: absolute;
  z-index: unset;
  cursor: default;

  &[aria-hidden="false"] {
    opacity: $modal-backdrop-opacity;
  }
}

.modal[aria-hidden="false"] {
  display: block;
  opacity: 1;

  .modal-dialog {
    // Bootstrap has a short transition in from top of screen using translate,
    // triggered by `modal.show`, replicated here with aria-hidden
    transform: translate(0, 0);
  }
}
