/* demo/components/universal/app-nav */
@import 'theme';

:local(.component) {
  border-bottom: 5px solid $primary;

  .logo {
    font-size: 24px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  // The app nav has a gray-100 background with primary text, it's the simplest to
  // override those styles specifically within this component
  .dropdown-trigger {
    background-color: $gray-100;
    color: $primary;
  }
}
