@import 'theme';

:local(.component) {
  .content {
    // Make the first paragraph of each page a lead paragraph
    p:first-of-type {
      font-size: $lead-font-size;
      font-weight: $lead-font-weight;
    }
  }
}
