/* componentry/src/Icon/icon */

// ℹ️ The icon class can be used with SVGs to create font icons
.icon {
  // Make the parent of an icon a flex container for easy alignment
  align-self: center;

  // Default to use the parent color as the icon color
  fill: $icon-color;
  color: $icon-color;

  // width + height of 1em makes icons font-sized by default 🎓
  height: 1em;
  width: 1em;

  // SVG elements do not have the same baseline as fonts, the margin bottom
  // adjustment aligns the svg baseline with the font baseline
  &.font {
    margin-bottom: $icon-bottom;
  }
}
