/*! componentry/src/Icon/icon */

//                                    Icon component styles
// --------------------------------------------------------

$icon: () !default;

$_icon: (
  variants: (
    font: (
      display: inline-flex,
      // Default to use the parent color as the icon color
        fill: currentColor,
      color: inherit,
      // width + height of 1em makes icons font-sized by default 🎓
        height: 1em,
      width: 1em,
      // Use negative margin bottom to align icon baseline with text
        vertical-align: unset,
      margin-bottom: -0.14em,
    ),
  ),
);

$icon: map-assign($_icon, $icon);

@each $variant, $styles in get($icon, variants) {
  @include style-rule-from-map(componentry-class($variant), $styles);
}
