///                                         <Icon /> styles
/// -------------------------------------------------------

$icon: () !default;

$icon-defaults: (
  base: (),
  variants: (
    font: (
      display: inline-flex,
      // Default to use the parent color as the icon color
      fill: currentColor,
      color: inherit,
      // width + height of 1em makes icons font-sized by default 🎓
      height: 1em,
      width: 1em,
      // Use negative margin bottom to align icon baseline with text
      vertical-align: unset,
      margin-bottom: -0.14em,
    ),
  ),
);

$icon: map-assign($icon-defaults, $icon);

@include style-rule-from-map(componentry-class(icon), get($icon, 'base'));

@each $variant, $styles in get($icon, variants) {
  @include style-rule-from-map('.#{$variant}-variant', $styles);
}
