/* componentry/src/Anchor/anchor */

// The `.btn-link` style button has the font styles of an anchor AND all of the
// regular padding of a button. For 💯 Accessibility we want to have buttons
// that look exactly like links for in application triggers, `anc`
// creates a button styled exactly like an anchor. This should be used for any
// application actions that are not route navigations.
.a {
  color: typography-color(anchor);
  text-decoration: $anchor-decoration;
  background-color: transparent;

  &:hover {
    color: $anchor-hover-color;
    text-decoration: $anchor-hover-decoration;
  }

  &:active {
    color: $anchor-active-color;
    text-decoration: $anchor-active-decoration;
  }

  &.disabled {
    color: $anchor-disabled-color;
    text-decoration: $anchor-disabled-decoration;
  }
}

button.a {
  @include reset-button;
}

// Custom color style is needed to include :hover, and :focus styles
@each $color, $value in $typography-colors {
  .a-#{$color} {
    color: $value;

    @include hover-focus {
      color: darken($value, 10%);
    }
  }
}
