/* demo/styles/application */

// This icon is used with all A++ Accessible headers and is default green
.icon.stars {
  color: $success;
}

.icon.bootstrap {
  color: $purple;
}

.swatch {
  display: inline-block;
  width: 115px;
  height: 50px;
}

// Do a fun 3d flip transition between open and closed states
.dropdown-toggle {
  &.btn-anchor {
    border-bottom: 1px solid $dropdown-trigger-anchor-border-color;

    // Add styles for inline dropdowns for a border bottom that matches the
    // anchor color Helps the dropdown to stand out, even when used inline style
    @include hover-focus {
      border-bottom: 1px solid $dropdown-trigger-anchor-hover-border-color;
      text-decoration: none; // Trigger border is the decoration
    }
  }

  .chevron.icon {
    transition: transform 500ms;
  }

  &[aria-expanded='true'] {
    .chevron.icon {
      transform: rotateX(-180deg);
    }
  }
}
