/* demo/styles/application */

// Application CSS variables used for items that are dynamic by theme
// Demo using CSS vars in conjunction with theme vars to enable dynamic
// element theming for buttons && headers (Note that these vars correspond to
// the theme which sets the var to the SASS variable)
:root {
  --btn-disabled-color: #89a19d;
  --headings-color: #{$gray-800};
}

// This icon is used with all A++ Accessible headers and is default green
.icon.stars {
  color: $success;
}

.icon.bootstrap {
  color: $purple;
}

.swatch {
  display: inline-block;
  width: 115px;
  height: 50px;
}

// Do a fun 3d flip transition between open and closed states
.dropdown-toggle {
  .chevron.icon {
    transition: transform 500ms;
  }

  &[aria-expanded='true'] {
    .chevron.icon {
      transform: rotateX(-180deg);
    }
  }
}
