/* demo/styles/application/typography */

// Constrain typography elements to 700px wide for better readability
p,
li,
pre,
.alert-content {
  max-width: 700px;
}

// Use > to target first descendents only and not demo content!
.guides {
  // Extra margin top for headers for better chunking
  > h2 {
    margin-top: 2em;
  }

  > h3 {
    margin-top: 1.5em;
  }

  > h4 {
    margin-top: 1.25em;
  }

  // Make the first paragraph a lead paragraph
  > p:first-of-type {
    @extend .lead;
  }
}
