/* ~componentry/src/Flex/Flex.scss */

/// Componentry Flex styles that don't map to a Tailwind utility style are
/// included as a component style to ensure they're available for users that
/// switch to Tailwind for their utility styles

@each $breakpoint in map-keys(theme-get('breakpoints')) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, theme-get('breakpoints'));

    // Provide "flex-column" and "flex-column-reverse" classes to map to Flex's
    // direction prop values.
    // (Tailwind provides "flex-col" and "flex-col-reverse", though short these
    // don't map to the CSS styles and Componentry prioritizes consistent
    // intuition of values over brevity)

    .#{$infix}flex-column {
      flex-direction: column !important;
    }

    .#{$infix}flex-column-reverse {
      flex-direction: column-reverse !important;
    }
  }
}
