///                                       <Button /> styles
/// -------------------------------------------------------

$button: () !default;

$button-defaults: (
  base: (
    align-items: center,
    display: inline-flex,
    justify-content: center,
    // Prevent text selection on click of buttons
      user-select: none,
    // By default button content shouldn't wrap
      white-space: nowrap,
  ),
  // --- Variants
    variants:
    (
      primary: (
        background-color: theme-get('palette.grayscale.500'),
        border: 1px solid theme-get('palette.grayscale.500'),
        border-radius: theme-get('border-radii.default'),
        color: theme-get('palette.typography.inverse'),
        font-size: theme-get('typography.font-sizes.button'),
        padding: 0.25rem 1rem,
        '&:hover': (
          background-color: theme-get('palette.grayscale.700'),
        ),
        '&:active': (
          background-color: theme-get('palette.grayscale.900'),
        ),
        '&:disabled': (
          border: 1px solid theme-get('palette.grayscale.300'),
          background-color: theme-get('palette.grayscale.300'),
        ),
      ),
      secondary: (
        background-color: transparent,
        border: 1px solid theme-get('palette.grayscale.500'),
        border-radius: theme-get('border-radii.default'),
        color: theme-get('palette.grayscale.500'),
        font-size: theme-get('typography.font-sizes.button'),
        padding: 0.25rem 1rem,
        '&:hover': (
          border-color: theme-get('palette.grayscale.700'),
          color: theme-get('palette.grayscale.700'),
        ),
        '&:active': (
          border-color: theme-get('palette.grayscale.900'),
          color: theme-get('palette.grayscale.900'),
        ),
        '&:disabled': (
          border-color: theme-get('palette.grayscale.300'),
          color: theme-get('palette.grayscale.300'),
        ),
      ),
    ),
  // --- Sizes
    sizes:
    (
      sm: (
        border-radius: theme-get('border-radii.sm'),
        font-size: theme-get('typography.font-sizes.sm'),
        padding: 0.125rem 0.75rem,
      ),
      lg: (
        border-radius: theme-get('border-radii.lg'),
        font-size: theme-get('typography.font-sizes.lg'),
        padding: 0.5rem 2rem,
      ),
    ),
);

$button: map-assign($button-defaults, $button);

@include style-rule-from-map(componentry-class(btn), get($button, 'base'));

@each $variant, $styles in get($button, 'variants') {
  @include style-rule-from-map('.btn-#{$variant}', $styles);
}

@each $size, $styles in get($button, 'sizes') {
  @include style-rule-from-map('.btn-#{$size}', $styles);
}
