/**
 * BUTTONS
 */

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-border-radius:           $border-radius !default;
$btn-letter-spacing:          0px !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-border-width:            $input-btn-border-width !default;
$btn-text-transform:          none !default;
$btn-font-weight:             $font-weight-normal !default;
$btn-decoration:              none !default;

$btn-hover-decoration:        none !default;
$btn-active-decoration:       none !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-letter-spacing-sm:       $btn-letter-spacing !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-letter-spacing-lg:       $btn-letter-spacing !default;

$btn-disabled-opacity:        .65 !default;
$btn-disabled-border-width:   $btn-border-width !default;

$btn-link-disabled-color:     $text-muted-color !default;

// The btn-states is a backdoor to set specific color values for button states
$btn-states:                  () !default;

// Containers spacing
$btn-container-spacing-x:     map-get($spacers, 2);
$btn-container-spacing-y:     map-get($spacers, 3);

// Customize button transition styles
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
