// TODO: make btn-group variables and specific styles

$btn-group-font-size:           $font-size-base !default;
$btn-group-btn-padding-y:       $input-btn-padding-y !default;
$btn-group-btn-padding-x:       $input-btn-padding-x !default;

$btn-group-font-size-sm:        $font-size-sm !default;
$btn-group-btn-padding-y-sm:    $input-btn-padding-y-sm !default;
$btn-group-btn-padding-x-sm:    $input-btn-padding-x-sm !default;

$btn-group-font-size-lg:        $font-size-lg !default;
$btn-group-btn-padding-y-lg:    $input-btn-padding-y-lg !default;
$btn-group-btn-padding-x-lg:    $input-btn-padding-x-lg !default;
