//
// Buttons
//

$input-bg:                              $white !default;
$input-color:                           $gray-700 !default;
$input-border-radius:                   $border-radius !default;
$input-border-color:                    $gray-400 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;
$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-line-height:                     $input-btn-line-height !default;

$input-border-radius-lg:                $border-radius-lg !default;
$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-line-height-lg:                  $input-btn-line-height-lg !default;

$input-border-radius-sm:                $border-radius-sm !default;
$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-line-height-sm:                  $input-btn-line-height-sm !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($component-active-bg, 25%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$input-disabled-bg:                     $gray-200 !default;

// --- Validation

$input-invalid-border-radius:    $border-radius $border-radius 0 0 !default;
$input-invalid-bg:               $input-bg !default;
$input-invalid-color:            $danger !default;
$input-invalid-border-color:     $danger !default;

$input-error-bg:   $white !default;
$input-error-color: $danger !default;
$input-error-font-size: $font-size-base !default;
$input-error-padding-x: $input-padding-x !default;
$input-error-padding-y: 0.25rem !default;
$input-error-border-radius: 0 0 $border-radius $border-radius !default;

// --- Placeholder

$input-placeholder-color:               $gray-600 !default;
$input-placeholder-font-style:          italic !default;

// --- Label

$input-label-color:               $body-color !default;
$input-label-font-size:           $font-size-base !default;
$input-label-letter-spacing:      0 !default;
$input-label-text-transform:      none !default;

// --- Description

$input-description-color:         $text-muted-color !default;
$input-description-font-size:     $font-size-sm !default;
$input-description-font-style:    normal !default;
$input-description-margin-y:      0.25rem !default;
$input-description-margin-x:      0 !default;

