// --- Set storybook theme

$theme: (
  palette: (
    theme-colors: (
      'info',
    ),
    info: (
      '100': #b2ebf2,
      '200': #4dd0e1,
      '300': #00bcd4,
      '400': #0097a7,
      '500': #006064,
    ),
    backgrounds: (
      demo: #3d2abc,
    ),
    borders: (
      demo: #3d2abc,
    ),
    typography: (
      demo: #3d2abc,
    ),
  ),
  borders: (
    demo: 5px solid #3d2abc,
  ),
  shadows: (
    demo: 5px 5px 15px #3d2abc,
  ),
);

// --- Import Componentry
@import '../src/componentry';

// --- Setup Storybook demo styles
.storybook-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align-guides {
  font-weight: 300;
  text-decoration: underline overline;
}
