// --- Set storybook theme
$include-icons: true;

// --- Import Componentry
@import '../src/componentry';

// --- Setup Storybook demo styles
.storybook-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align-guides {
  font-weight: 300;
  text-decoration: underline overline;
}
