@componentry foundation;
@tailwind base;

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  /* Include font smoothing in screens that support it */
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

@componentry components;
@tailwind components;

.sbdocs-h2 {
  /* Storybook is setting this to 0 between stories, give them some space */
  margin-top: 20px !important;
}

@tailwind utilities;
