// --- Set storybook theme
$include-icons: true;

// --- Import Componentry
@import '../styles/componentry';

// --- Setup Storybook demo styles
.storybook-screen {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
}

.storybook-section-header {
  text-decoration: underline;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.storybook-btns-container {
  .btn + .btn {
    margin-left: 5px;
  }
}
