/* demo/components/universal/PropsDocs/props-docs */
@import 'theme';

:local(.component) {
  margin-top: 100px;

  // The tabs are the last element on each screen and having a min-height helps
  // reduce jump when changing from a long tab to a short tab
  .tab-panes-container {
    min-height: 500px;
  }

  tbody {
    font-size: 0.875rem;
  }
}
