/* componentry/src/Tab/tab */

//
// Tabs
//

// --- Structure
// .tabs
// .tabs-panes-container
// .tabs-panes-pane
// .tabs-nav-container
// .tabs-nav-tab

//
// Tabs container
//

// Container handles: margin between tabs and panes, and layout of tabs
.tabs-nav-container {
  display: flex;
  margin: $tabs-nav-container-margin;
  border-bottom: $tabs-nav-container-border;
  background: $tabs-nav-container-bg;
  box-shadow: $tabs-nav-container-shadow;

  &.nav-fill {
    .tabs-nav-tab {
      flex: 1 1 auto;
      text-align: center;
    }
  }

  &.nav-justified {
    .tabs-nav-tab {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
    }
  }

  // vertical is applied with .nav-vertical
}

//
// Tabs
//

// NOTE: Tabs are assumed to be an anchor or button element for accessibility!
.tabs-nav-tab {
  -webkit-appearance: none; // reset buttons
  white-space: nowrap;
  padding: $tabs-tab-padding-y $tabs-tab-padding-x;
  background: $tabs-tab-bg;
  color: $tabs-tab-color;
  border-style: solid;
  border-color: $tabs-tab-border-color;
  border-width: $tabs-tab-border-width;
  border-radius: $tabs-tab-border-radius;

  transition: $tabs-tab-transition;

  &:hover,
  &:focus {
    color: $tabs-tab-hover-color;
    background: $tabs-tab-hover-bg;
    border-color: $tabs-tab-hover-border-color;
  }

  &.active {
    background: $tabs-tab-active-bg;
    border-color: $tabs-tab-active-border-color;
    color: $tabs-tab-active-color;
  }

  &.disabled {
    background: $tabs-tab-disabled-bg;
    border-color: $tabs-tab-disabled-border-color;
    color: $tabs-tab-disabled-color;
  }
}

// Provide ability to customize tab styles for vertical tabs, they likely look
// different
.tabs-nav-container.nav-vertical {
  margin: $tabs-nav-vertical-margin;
  border-bottom: none;

  .tabs-nav-tab {
    margin: $tabs-tab-vertical-margin;
    border-width: $tabs-tab-vertical-border-width;
    border-color: $tabs-tab-vertical-border-color;
    border-radius: $tabs-tab-vertical-border-radius;

    transition: $tabs-tab-vertical-transition;

    &:hover,
    &:focus {
      border-width: $tabs-tab-vertical-hover-border-width;
      border-color: $tabs-tab-vertical-hover-border-color;
    }

    &.active {
      border-width: $tabs-tab-vertical-active-border-width;
      border-color: $tabs-tab-vertical-active-border-color;
    }

    &.disabled {
      border-width: $tabs-tab-vertical-disabled-border-width;
      border-color: $tabs-tab-vertical-disabled-border-color;
    }
  }
}

//
// Tab panes container
//

.tabs-panes-container {
  padding: $tabs-pane-container-padding;
}
