/* componentry/src/Alert/alert */

$alert-defaults: ();
@each $color, $value in $theme-colors {
  $alert-defaults: map-merge(
    $alert-defaults,
    (
      #{$color}-bg: #{gradient-bg(theme-color-level($color, $alert-bg-level))},
      #{$color}-border-color: #{theme-color-level($color, $alert-border-level)},
      #{$color}-color: #{theme-color-level($color, $alert-color-level)}
    )
  );
}

$alert-states-map: map-merge($alert-defaults, $alert-states);

// Make the alert container a flex container by default with space-between to align
// close button to right side
.🅲-alert {
  align-items: flex-start;
  border: $alert-border-width solid transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: $alert-margin-bottom;
  padding: $alert-padding-y $alert-padding-x;
  position: relative;
  @include border-radius($alert-border-radius);
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-color-#{$color} {
    background: map-get($alert-states-map, #{$color}-bg);
    border-color: map-get($alert-states-map, #{$color}-border-color);
    color: map-get($alert-states-map, #{$color}-color);

    hr {
      border-top-color: darken(theme-color-level($color, $alert-border-level), 5%);
    }

    .alert-link {
      color: darken(theme-color-level($color, $alert-color-level), 10%);
    }
  }

  // Outline alerts have a transparent background with a bright left side border
  .alert-#{$color}.alert-outline {
    background-color: transparent;
    border-color: border-color(default);
    border-left: 5px solid $value;
  }
}

//
// Alert elements
//

.alert-content {
  flex-grow: 1;
}

.🅲-alert-close {
  margin-left: $alert-close-margin-left;

  // Animate close icon opacity on hover
  .icon-close {
    opacity: 0.6;
    transition: $transition-fade;

    @include hover-focus {
      opacity: 1;
    }
  }
}

// Headings for larger alerts
.alert-heading {
  margin-top: 0;
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}
