/* demo/components/universal/PropsDocs/PropsDocsContent/props-docs-content */

:local(.component) {
  table-layout: fixed;

  .name {
    width: 19%;
  }

  .type {
    width: 22%;
  }

  .description {
    width: 44%;
  }

  .default {
    width: 15%;
  }
}
