/* ~componentry/src/Nav/nav */

// --------------------------------------------------------
// Nav container (<nav> or <ul>)

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

// --------------------------------------------------------
// Vertical

.nav-vertical {
  flex-direction: column;
}

// --------------------------------------------------------
// Pills

.nav-pills {
  .nav-item {
    @include border-radius($nav-pills-border-radius);
  }

  .nav-item.active {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

// --------------------------------------------------------
// Justified

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// --------------------------------------------------------
// Nav items

.nav-item {
  -webkit-appearance: none;
  border: none;
  display: block;
  padding: $nav-item-padding-y $nav-item-padding-x;
  background: transparent;
}

.nav-item-action {
  color: $nav-item-action-color;
  text-align: left; // reset button font

  @include hover-focus {
    color: $nav-item-action-hover-color;
    text-decoration: $nav-item-action-hover-decoration;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-item-disabled-color;
    text-decoration: none;
  }
}
