/* ~componentry/src/Nav/nav */

// --------------------------------------------------------
// Nav container <nav>

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

// --------------------------------------------------------
// Vertical

.nav-vertical {
  flex-direction: column;
}

// --------------------------------------------------------
// Pills

.nav-pills {
  .nav-item {
    @include border-radius($nav-pills-border-radius);
  }

  .nav-item.active {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

// --------------------------------------------------------
// Filled

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

// --------------------------------------------------------
// Justified

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// --------------------------------------------------------
// Nav items

.nav-item {
  padding: $nav-item-padding-y $nav-item-padding-x;
}
