// ========================================================
// Componentry Variables
// ========================================================

// Any variables used in the Componentry library that are not originally Bootstrap
// variables are declared here. Note that additional variables should only be
// created to allow for additional customization not provided in the Bs library.

// NOTE: these should be overrideable values, so they should all use !default

// Components
// ---------------------------------------------------------------------------
$enable-themed-close-icons: false !default;

// Icons
// ---------------------------------------------------------------------------
$icon-bottom: -0.05em !default;

$close-icon-color: map-get($theme-colors, dark) !default;
$close-icon: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='FILL_COLOR' viewBox='0 0 24 24'%3E%3Cpath d='M19 4q.43 0 .715.285T20 5q0 .422-.289.711L13.414 12l6.297 6.289Q20 18.578 20 19q0 .43-.285.715T19 20q-.422 0-.711-.289L12 13.414l-6.289 6.297Q5.422 20 5 20q-.43 0-.715-.285T4 19q0-.422.289-.711L10.586 12 4.289 5.711Q4 5.422 4 5q0-.43.285-.715T5 4q.422 0 .711.289L12 10.586l6.289-6.297Q18.578 4 19 4z'/%3E%3C/svg%3E"
  !default;

$chevron-icon-color: map-get($theme-colors, primary) !default;
$chevron-icon: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$chevron-icon-color}' viewBox='0 0 20 20'%3E%3Cpath d='M17.418 6.109c0.272-0.268 0.709-0.268 0.979 0s0.271 0.701 0 0.969l-7.908 7.83c-0.27 0.268-0.707 0.268-0.979 0l-7.908-7.83c-0.27-0.268-0.27-0.701 0-0.969s0.709-0.268 0.979 0l7.419 7.141 7.418-7.141z'/%3E%3C/svg%3E"
  !default;
