/* ~componentry/styles/initialize */

//
// Componentry browser initialization styles
//

@import 'initialize/reboot';
@import 'initialize/css-variables';

//
// Focus outlines
//

body.suppress-outline {
  & a:focus {
    outline: none;
  }
  & button:focus {
    outline: none;
  }
  & input:focus {
    outline: none;
  }
  & select:focus {
    outline: none;
  }
  & textarea:focus {
    outline: none;
  }
}

//
// Disabled
//

.disabled {
  // Ensure that disabled elements cannot be interacted with (and reset cursor
  // styles to initial), individual elements should add specific disabled styles
  // for color, bg, etc.
  pointer-events: none;
}
