// ========================================================
// Componentry 'Clear' Theme
// Used by Componentry Demo App
// ========================================================

// Colors
// ---------------------------------------------------------------------------
// Theme grayscale
$coal:             #292b2c;
$pebble:           #464a4c;
$slate:            #636c72;
$aluminum:         #a1aeb7;
$wolf:             rgba(149, 165, 175, 0.3);
$smoke:            #eceeef;
$ash:              #f7f7f9;

// Gotta have those blues
$aegean:           #39608e;
$denim:            #374d68;
$cerulean:         #5bc0de;

$brand-primary:    $denim;
$brand-success:    #92c14d;
$brand-info:       $cerulean;
$brand-warning:    #f0ad4e;
$brand-danger:     #d9534f;
$brand-inverse:    $coal;

// Global Opts
// ---------------------------------------------------------------------------
$enable-rounded: true;
$enable-shadows: true;

// Links
// ---------------------------------------------------------------------------
$link-color: $aegean;

// Fonts
// ---------------------------------------------------------------------------
$font-family-sans-serif: 'Libre Franklin', Arial, sans-serif;

$font-size-base: 0.875rem; // 14px base assuming 1 rem = 16px
$font-size-lg:   $font-size-base * 1.25;
$font-size-sm:   $font-size-base * 0.875;

$line-height-base: 1.5;

$font-size-h1: 48px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;

$headings-font-weight: 300;
$headings-color: $pebble;

$small-font-size: 90%;

// Components
// ---------------------------------------------------------------------------
$border-width: 1px !default;
$transition-fade: opacity .3s linear;

// Buttons
// ---------------------------------------------------------------------------
// Disable wonky Bootstrap box-shadow on button focus
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;

// Dropdowns
// ---------------------------------------------------------------------------
$dropdown-item-padding-x: 1.5rem;
$dropdown-item-padding-y: 0.375rem;

// Tooltips
// ---------------------------------------------------------------------------
$tooltip-font-size: $font-size-sm;
$tooltip-bg: $pebble;
$tooltip-padding-y: 5px;
$tooltip-padding-x: 8px;
$tooltip-arrow-width: 8px;
$tooltip-max-width: 350px;

// Popovers
// ---------------------------------------------------------------------------
$popover-font-size: $font-size-sm;
$popover-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
$popover-inner-padding: 15px;

// Modals
// ---------------------------------------------------------------------------
$modal-content-border-width:     0 !default;
$modal-header-border-width:      $border-width !default;
$modal-footer-border-width:      $border-width !default;
$modal-content-xs-box-shadow:    0 3px 9px rgba(149, 165, 175, 0.7) !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba(149, 165, 175, 0.7) !default;

// Code
// ---------------------------------------------------------------------------
$code-bg: #f9f2f4;

// Icons
// ---------------------------------------------------------------------------
$icon-bottom: -0.2em;

// ========================================================
// Theme Styles
// ========================================================
// Small text in theme is intended for less important information. Convey this with
// size AND a lighter gray font color
small, .small { color: $slate; }

// Default constraint for paragraphs helps with readability, can be overridden
// where needed with `mw-100`
p { max-width: 800px; }

// Theme includes ability to include the chevron svg asset with drawers and it will
// be automatically animated open/close
.drawer-trigger {
  .icon.chevron {
    transition: transform 500ms;
    transform: rotate(-0.25turn)
  }

  &[aria-expanded='true'] {
    .icon.chevron {
      transform: rotate(0)
    }
  }
}

// ========================================================
// Libre Franklin Font - Weights 300 and 400
// ========================================================

/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U7xHoxYlEhdfxgPTmEO-jGTc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U77v_weys7n7jZxU_6MdmmbI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'), url(https://fonts.gstatic.com/s/librefranklin/v1/1_DGDtljMiPWFs5rl_p0yMq-pbAjJt28asgHno7W9sM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'), url(https://fonts.gstatic.com/s/librefranklin/v1/1_DGDtljMiPWFs5rl_p0yGISN6_59ECOhaitw-i87uk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
