// ========================================================
// Utility Styles
// ========================================================

// ========================================================
// Componentry Variables
// ========================================================

// Any variables used in the Componentry library that are not originally Bootstrap
// variables are declared here. Note that additional variables should only be
// created to allow for additional customization not provided in the Bs library.

// NOTE: these should be overrideable values, so they should all use !default

$icon-bottom: -0.05em !default;
$svgs-bottom: -0.1em !default;

// ========================================================
// Show/Hide w/ Aria Hidden
// ========================================================

// Use aria-hidden for A++ Accessible show/hide, b/c selector is weak and we included
// this partial first, hidden has !important.
*[aria-hidden="true"] {
  display: none !important;
  pointer-events: none !important;
  visibility: hidden !important;
}
// When an element should be hidden from screen readers (aria-hidden) but still visible
// in DOM b/c it is for presentational use, the role presentation can be used to
// keep element visible and screen readers will pick up the aria-hidden state
*[role="presentation"] {
  display: initial;
  pointer-events: auto;
  visibility: visible;
}
