/* ~componentry/src/List/list */

// --------------------------------------------------------
// Lists (<ul>, <ol>, or <div>)

.list {
  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
}

// --------------------------------------------------------
// List items (<li> or <div> within .list)

.list-item {
  position: relative;
  display: block;
  padding: $list-item-padding-y $list-item-padding-x;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -$list-border-width;
  background-color: $list-bg;
  border: $list-border-width solid $list-border-color;

  &:first-child {
    @include border-top-radius($list-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-border-radius);
  }

  @include hover-focus {
    z-index: 1; // Place hover/active items above their siblings for proper border styling
    text-decoration: none;
  }

  &.disabled {
    color: $list-disabled-color;
    background-color: $list-disabled-bg;
  }
}

// --------------------------------------------------------
// Action list items
//
// Use anchor or button elements instead of `li`s or `div`s to create
// interactive list items. Includes an extra `.active` modifier class for
// selected items.

.list-action-item {
  @include reset-action-item;
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  color: $list-action-color;
  text-align: inherit; // For `<button>`s (anchors inherit)

  // Hover state
  @include hover-focus {
    color: $list-action-hover-color;
    text-decoration: none;
    background-color: $list-hover-bg;
  }

  // Note that the active state is different from having the active class
  // (Class is persistent, state is for user interaction)
  &:active {
    color: $list-action-active-color;
    background-color: $list-action-active-bg;
  }
}

// --------------------------------------------------------
// Active state modifier

// Must be declared after list-action-item ensure active has precedence
// over :hover (Note this is valid for items and action items)
.list-item.active {
  z-index: 2; // Place active items above their siblings for proper border styling
  color: $list-active-color;
  background-color: $list-active-bg;
  border-color: $list-active-border-color;
}

// --------------------------------------------------------
// Flush layout list item

// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).
.list-flush {
  .list-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);
  }

  &:first-child {
    .list-item:first-child {
      border-top: 0;
    }
  }

  &:last-child {
    .list-item:last-child {
      border-bottom: 0;
    }
  }
}

// --------------------------------------------------------
// Contextual variants

// Add modifier classes to change text and background color on individual items.
// (Organizationally, this must come after the `:hover` states)
@mixin list-item-variant($state, $background, $color) {
  .list-item-#{$state} {
    color: $color;
    background-color: $background;

    &.list-action-item {
      @include hover-focus {
        color: $color;
        background-color: darken($background, 5%);
      }

      &.active {
        color: theme-color(background);
        background-color: $color;
        border-color: $color;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  @include list-item-variant(
    $color,
    theme-color-level($color, -9),
    theme-color-level($color, 6)
  );
}
