/* ~componentry/src/Badge/badge */

/**
 * --- Base class
 * Requires one of the contextual, color modifier classes for `color` and
 * `background-color`.
 */
.🅲-badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.🅲-button .🅲-badge {
  position: relative;
  top: -1px;
}

/**
 * --- Rounded badges
 * Creates a badge with rounded corners and extra padding
 */
.badge-rounded {
  padding-right: $badge-rounded-padding-x;
  padding-left: $badge-rounded-padding-x;
  border-radius: 1000px !important;
}

/**
 * --- Colors
 * Contextual variations (linked badges get darker on :hover).
 */
@mixin badge-variant($bg) {
  color: color-yiq($bg);
  background-color: $bg;

  &[href] {
    @include hover-focus {
      color: color-yiq($bg);
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}

@each $color, $value in $theme-colors {
  .badge-color-#{$color} {
    @include badge-variant($value);
  }
}
